/* ---- reset ---- */

body {
  min-height: 100%;
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
  background: #360033; /* fallback for old browsers */
  background: : -webkit-linear-gradient(to left, #360033 , #0b8793); /* Chrome 10-25, Safari 5.1-6 */
  background: : linear-gradient(to left, #360033 , #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  background: #360033; /* fallback for old browsers */
  background: : -webkit-linear-gradient(to left, #360033 , #0b8793); /* Chrome 10-25, Safari 5.1-6 */
  background: : linear-gradient(to left, #360033 , #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
