/* ---- reset ---- */
body {
  min-height: 100%;
  margin: 0;
  font:normal Helvetica, Arial, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- fullpage sections ---- */
.section {
  height: 100vh;
}


/* ---- preloader ---- */
.preloader {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #fff;
z-index: 999999;
}

#preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -52.5px;
  margin-left: -52.5px;
}


/* ------ HELLO ------ */

/* ---- title fonts ---- */
@font-face {
  font-family: 'Mekar Script';
  src: url('fonts/mekar/MekarScript.ttf');
  src: url('fonts/mekar/MekarScript.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: geometricPrecision;
}

@font-face {
  font-family: 'Youngblood';
  src: url('fonts/youngblood/Youngblood.ttf');
  src: url('fonts/youngblood/Youngblood.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: geometricPrecision;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #360033;
  background-image: url(../img/gradient4.png);
  background-repeat: repeat-y;
  background-size: 100% 100%;
  background-position: 50% 50%;
  z-index: 10;
}

/* ---- title format ---- */
#annieke {
  width: 100%;
  height: 0px;
  position: absolute;
  text-align: center;
  top: 50%;
  line-height: 0.08em;
  left: 0;
  font-family: 'Mekar Script', 'Youngblood';
  font-size: 21em;
  font-size: 21vw;
  color: #fff;
  z-index: 20;
}

/* ---- scroll icon ---- */
.scroll {
  margin: 0 0 0 -15px;
  position: absolute;;
  bottom: 15%;
  left: 50%;
  width: 30px;
  height: 48px;
  cursor: pointer;
  z-index: 20;
}

.mouse {
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border:2px solid #fff;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px
}

@-moz-keyframes scroll-wheel {
  0% {
    -moz-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    opacity:1
  }
  35% {
    -moz-transform:translate3d(0,7px,0);
    transform:translate3d(0,7px,0);
    opacity:1
  }
  50% {
    -moz-transform:translate3d(0,10px,0);
    transform:translate3d(0,10px,0);
    opacity:0
  }
  50.001% {
    -moz-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    opacity:0
  }
  80% {
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    opacity:0
  }
}

@-webkit-keyframes scroll-wheel {
  0% {
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    opacity:1
  }
  35% {
    -webkit-transform:translate3d(0,7px,0);
    transform:translate3d(0,7px,0);
    opacity:1
  }
  50% {
    -webkit-transform:translate3d(0,10px,0);
    transform:translate3d(0,10px,0);
    opacity:0
  }
  50.001% {
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    opacity:0
  }
  80% {
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    opacity:0
  }
}

@keyframes scroll-wheel {
  0% {
    -moz-transform:translate3d(0,0,0);
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    opacity:1
  }
  35% {
    -moz-transform:translate3d(0,7px,0);
    -webkit-transform:translate3d(0,7px,0);
    transform:translate3d(0,7px,0);
    opacity:1
  }
  50% {
    -moz-transform:translate3d(0,10px,0);
    -webkit-transform:translate3d(0,10px,0);
    transform:translate3d(0,10px,0);
    opacity:0
  }
  50.001% {
    -moz-transform:translate3d(0,0,0);
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    opacity:0
  }
  80% {
    -moz-transform:translate3d(0, 0, 0);
    -webkit-transform:translate3d(0, 0, 0);t
    ransform:translate3d(0, 0, 0);
    opacity:0
  }
}

.scroll .wheel {
  display:block;
  margin:0 0 0 -2px;
  position:absolute;
  top:10px;
  left:50%;
  width:4px;
  height:4px;
  background:#fff;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  -moz-animation:scroll-wheel 1.8s linear 0s infinite normal none;
  -webkit-animation:scroll-wheel 1.8s linear 0s infinite normal none;
  animation:scroll-wheel 1.8s linear 0s infinite normal none
}
