/* ---- reset ---- */
body {
  min-height: 100%;
  margin: 0;
  font-family:'Poiret One', normal Helvetica, Arial, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- fullpage sections ---- */
.section {
  height: 100vh;
}

/* ---- preloader ---- */
.preloader {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #fff;
z-index: 999999;
}

#preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
  height: 70px;
}


/* ------ HELLO ------ */

/* ---- title fonts ---- */
@font-face {
  font-family: 'Mekar Script';
  src: url('fonts/mekar/MekarScript.ttf');
  src: url('fonts/mekar/MekarScript.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: geometricPrecision;
}

@font-face {
  font-family: 'Youngblood';
  src: url('fonts/youngblood/Youngblood.ttf');
  src: url('fonts/youngblood/Youngblood.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: geometricPrecision;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #360033;
  background-image: url(../img/gradient4.png);
  background-repeat: repeat-y;
  background-size: 100% 100%;
  background-position: 50% 50%;
  z-index: 10;
}

/* ---- title format ---- */
#annieke {
  width: 100%;
  height: 0px;
  position: absolute;
  text-align: center;
  top: 50%;
  line-height: 0.08em;
  left: 0;
  font-family: 'Mekar Script', 'Youngblood';
  font-size: 21em;
  font-size: 21vw;
  color: #fff;
  z-index: 20;
}

/* ---- scroll icon ---- */
.scroll {
  margin: 0 0 0 -15px;
  position: absolute;
  bottom: 15%;
  left: 50%;
  width: 30px;
  height: 48px;
  cursor: pointer;
  z-index: 20;
}

.mouse {
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border:2px solid #fff;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px
}

@-moz-keyframes scroll-wheel {
  0% {
    -moz-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    opacity:1
  }
  35% {
    -moz-transform:translate3d(0,7px,0);
    transform:translate3d(0,7px,0);
    opacity:1
  }
  50% {
    -moz-transform:translate3d(0,10px,0);
    transform:translate3d(0,10px,0);
    opacity:0
  }
  50.001% {
    -moz-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    opacity:0
  }
  80% {
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    opacity:0
  }
}

@-webkit-keyframes scroll-wheel {
  0% {
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    opacity:1
  }
  35% {
    -webkit-transform:translate3d(0,7px,0);
    transform:translate3d(0,7px,0);
    opacity:1
  }
  50% {
    -webkit-transform:translate3d(0,10px,0);
    transform:translate3d(0,10px,0);
    opacity:0
  }
  50.001% {
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    opacity:0
  }
  80% {
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    opacity:0
  }
}

@keyframes scroll-wheel {
  0% {
    -moz-transform:translate3d(0,0,0);
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    opacity:1
  }
  35% {
    -moz-transform:translate3d(0,7px,0);
    -webkit-transform:translate3d(0,7px,0);
    transform:translate3d(0,7px,0);
    opacity:1
  }
  50% {
    -moz-transform:translate3d(0,10px,0);
    -webkit-transform:translate3d(0,10px,0);
    transform:translate3d(0,10px,0);
    opacity:0
  }
  50.001% {
    -moz-transform:translate3d(0,0,0);
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    opacity:0
  }
  80% {
    -moz-transform:translate3d(0, 0, 0);
    -webkit-transform:translate3d(0, 0, 0);t
    ransform:translate3d(0, 0, 0);
    opacity:0
  }
}

.scroll .wheel {
  display:block;
  margin:0 0 0 -2px;
  position:absolute;
  top:10px;
  left:50%;
  width:4px;
  height:4px;
  background:#fff;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  -moz-animation:scroll-wheel 1.8s linear 0s infinite normal none;
  -webkit-animation:scroll-wheel 1.8s linear 0s infinite normal none;
  animation:scroll-wheel 1.8s linear 0s infinite normal none
}


/* ------ NAVIGATION ------ */
.navbar {
  background: rgba(255, 255, 255, 0.5);
  border-color: transparent;
  font-size: 2.5em;
  font-size: 2.5vw;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

#navigation .active a {
  background-color: transparent;
  color: #FFF;
}


/* ------ CONNECT ------ */
#connect {
  background-color: #D6A4A4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-wrapper {
  width: 100%;
  text-align: center;
  align-self: center;
}

.icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 30px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
  color: #D6A4A4;
	box-shadow: 0 0 0 3px #fff;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;

  top: -2px;
	left: -2px;
	padding: 2px;
	z-index: -1;
	background: #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

.icon:before {
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.icon:hover {
	color: #D6A4A4;
}

.icon:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
}


/* ------ copyright ------ */
#copyright {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}
