/* ---- reset ---- */

body {
  min-height: 100%;
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
  background: #360033; /* fallback for old browsers */
  background: : -webkit-linear-gradient(to left, #360033 , #0b8793); /* Chrome 10-25, Safari 5.1-6 */
  background: : linear-gradient(to left, #360033 , #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- preloader ---- */
.preloader {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #fff;
z-index: 999999;
}

#preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -52.5px;
  margin-left: -52.5px;
}

/* ---- title font ---- */
@font-face {
  font-family: 'Mekar Script';
  src: url('fonts/mekar/MekarScript.ttf');
  src: url('fonts/mekar/MekarScript.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: geometricPrecision;
}

/* ---- title format ---- */
#annieke {
  width: 100%;
  height: 1px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 0;
  font-family: 'Mekar Script';
  font-size: 18em;
  color: #fff;

}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #360033;
  background-image: url(../img/gradient4.png);
  background-repeat: repeat-y;
  background-size: 100% 100%;
  background-position: 50% 50%;
  z-index: -10;
}
