<div class="navy-line"></div>
<h1><span data-i18n="skills.my_skills">Education</span></h1>

<div class="archive">
  <div class="timeline" id="timeline">
    {% for school in site.data.index.education %}
      <div class="archive-title bio">
        <div class="archive-year">
          <strong>{{ school.date }}</strong> <a href="{{ school.link }}">{{ school.name }}</a>
        </div>
        <div class="archive-content">
          {{ school.deg }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>